alabaster==1.0.0
asgiref==3.8.1
asn1crypto==1.5.1
astroid==3.3.10
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
autopep8==2.3.2
babel==2.16.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
colorama==0.4.6
constantly==23.10.4
cryptography==45.0.3
defusedxml==0.7.1
dill==0.4.0
distlib==0.3.8
Django==5.2.4
django-allauth==65.9.0
django-ckeditor==6.7.2
django-countries==7.6.1
django-crispy-forms==2.4
django-js-asset==3.1.2
django-tinymce4-lite==1.8.0
djongo==1.3.7
dnspython==2.7.0
docutils==0.21.2
filelock==3.16.1
hyperlink==21.0.0
idna==3.10
imagesize==1.4.1
incremental==24.7.2
isort==6.0.1
Jinja2==3.1.4
jsmin==3.0.1
lazy-object-proxy==1.11.0
MarkupSafe==3.0.2
mccabe==0.7.0
mysqlclient==2.2.7
oauthlib==3.2.2
packaging==24.2
pep8==1.7.1
pillow==11.2.1
platformdirs==4.3.6
psycopg2==2.9.10
pycodestyle==2.13.0
pycparser==2.22
Pygments==2.18.0
PyHamcrest==2.1.0
PyJWT==2.10.1
pylint==3.3.7
pymongo==3.11.4
python3-openid==3.2.0
pytz==2025.2
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==75.3.0
six==1.17.0
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
stripe==12.2.0
tomlkit==0.13.3
txaio==23.1.1
typing_extensions==4.14.0
tzdata==2025.1
urllib3==2.2.3
virtualenv==20.26.5
virtualenvwrapper-win==1.2.7
wheel==0.45.0
wrapt==1.17.2
zope.interface==7.2
